.wp-availability {
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}
.wp-availability-month {
	/* border: 1px solid #050404; */
	padding: 0px;
	float: left;
}
.wp-availability-month table {
	color: #333333;
	width: 200px;
	border-collapse: collapse;
	text-align: center;
	font-size: 13px;
	border: solid 1px;
	margin-bottom: 0px;
}
.wp-availability-month table thead th {
	padding: 8px;
	font-size: 15px;
	background-color: #fff;
	color: black;
	text-align: center;
	font-weight: 400;
}
.wp-availability-month table tbody th,
.wp-availability-month table tbody td {
	padding: 8px;
	color: #333;
	text-align: center;
}
.wp-availability-month table tbody td {
	border: 1px solid black;
	background: #f5f5f5;
} 
.wp-availability-month table tbody tr:nth-child(1) {
	background: #DDDDDD;
    color: #222222;
  }
.wp-availability-month table tbody tr:nth-child(1) th{
	border: 1px solid black;
   }
.wp-availability-month table tbody td.wp-availability-disabled {
	background-color: white;
}
.belo-remove-this-month{
	display: none !important;
}
.belo-day-0,.belo-day-6{
	background-color: #FFCCCC !important; 
    color: black !important;
}
.wp-availability-month table tbody td.wp-availability-booked {
	text-decoration: line-through;
	font-weight: bold;
    background: orange;
    color: #222222;
}